h1, h2, h3 {
    color: #555;
}

@media (max-width: 575.98px) {
    .navbar-collapse {
        text-align: center;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
